:host-context {
  display: block;
  width: 1665px;
  margin: 75px auto;
}

button.full-score {
  background: #00AA00;
  border-color: #00AA00;
}

.sidebar {
  width: 600px;
  background-color: white;
  border: 1px solid #ddd;
  float: left;

  .titlebar {
    margin: 4px 10px;
    line-height: 34px;
    display: flex;
    justify-content: flex-start;
  }

  .steps {
    height: calc(max(100vh - 128px, 785px));
    overflow-y: scroll;
    border-top: 1px solid #ddd;

    nz-card {
      margin-bottom: 0.5em;
      border-left: none;
      border-right: none;
      border-radius: 0;
      box-sizing: border-box;

      &:first-of-type {
        border-top: none;
      }

      &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
      }

      &.active {
        border-top: 1px dashed #73d13d;
        border-bottom: 1px dashed #73d13d;
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 0 8px 6px rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.content {
  float: left;
  height: calc(max(100vh - 84px, 829px));
  background-color: white;
  border: 1px solid #ddd;
  border-left: none;

  .toolbar {
    line-height: 42px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
  }
}

.vnc-container {
  flex: 1;
  width: 1064px;
  height: 768px;
  padding-left: 20px;
  padding-right: 20px;
}
