<div class="sidebar" xmlns="http://www.w3.org/1999/html">
  <nz-breadcrumb *ngIf="!!exam && !!expr">
    <nz-breadcrumb-item>
      <a [routerLink]="['../..', 'view']" [queryParams]="{ examId: exam.id }">测试：{{ exam.title }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      实验：{{ expr.title }}
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> 剩余时间: {{ remainTime }} </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="steps">
    <nz-card *ngFor="let step of expr?.steps"
             [class.active]="activeStepId == step.id"
             [nzTitle]="'#' + (step.idx + 1) + ' ' + step.title"
             [nzExtra]="extraTpl" [nzHoverable]="true" nzSize="small" (click)="setActiveStep(step.id)">
      {{ step.description }}
      <ng-template #extraTpl>
        <button nz-button nzSize="small" nzType="primary"
                (click)="checkStep(step, $event)" [nzLoading]="step.checking">
          <i nz-icon nzType="play-circle"></i>
          {{ step.score === undefined ? '-' : step.score }} / {{ step.fullScore }}
        </button>
      </ng-template>
    </nz-card>
  </div>
</div>

<div class="content">
  <div class="toolbar">
    当前主机：
    <button *ngFor="let host of expr?.hostIds"
            (click)="connectHostVnc(host)"
            [nzType]="currentHost == host ? 'primary' : 'dashed'"
            nz-button nzSize="small">
      Host{{host}}
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzSize="small" nzType="primary" (click)="startHost()" [nzLoading]="hostStarting" [disabled]="!!rfb">
      启动
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzSize="small" nzDanger (click)="stopHost()" [nzLoading]="hostStopping" [disabled]="!rfb">
      强制关机
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzSize="small" nzDanger>重置</button>

  </div>
  <div #vnc class="vnc-container">
    <nz-empty *ngIf="!rfb" nzNotFoundContent="暂未开机"></nz-empty>
  </div>
</div>
