<page-header title="测试: {{ examScore?.exam.title }}" [tab]="tab" [extra]="extra">
  <ng-template #tab>
    <nz-tabset>
      <nz-tab nzTitle="实验列表">
        <nz-table #exprsTable [nzData]="exprScores" [nzLoading]="exprsLoading || examLoading" [nzShowPagination]="false">
          <thead>
          <tr>
            <th>名称</th>
            <th>得分</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let eus of exprsTable.data">
            <td>
              <a [routerLink]="['..', 'expr', 'view']"
                 [queryParams]="{ examId: examScore?.exam.id, exprId: eus.expr.id }">
                {{ eus.expr.title }}
              </a>
            </td>
            <td>{{eus.score}}/{{eus.expr.fullScore}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </ng-template>

  <ng-template #extra>
    <sv-container>
      <sv label="考试状态">{{examScore.exam.state}}</sv>
      <sv label="当前分数">{{examScore.exam.fullScore}}</sv>
      <sv label="当前分数">{{examScore.score}}</sv>
      <sv label="结束时间" col="2">{{examScore.exam.endedAt | dateFormat}}</sv>
    </sv-container>
  </ng-template>
</page-header>
