<page-header [title]="'测试列表'" [tab]="tab">
  <ng-template #tab>
    <nz-tabset>
      <nz-tab nzTitle="当前测试">
        <nz-table #examsTable [nzData]="examUserLinks" [nzLoading]="loading" [nzShowPagination]="false" [nzBordered]="true">
          <thead>
          <tr>
            <th>名称</th>
            <th>结束时间</th>
            <th>座位号</th>
            <th>状态</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let examUserLink of examsTable.data">
            <td>
              {{ examUserLink.exam.title }}
            </td>
            <td>{{ examUserLink.exam.endedAt | dateFormat}}</td>
            <td>{{ examUserLink.seat }}</td>
            <td>
              <span *ngIf="!examUserLink.exam.started">未开始</span>
              <span *ngIf="examUserLink.exam.ended">已结束</span>
              <a *ngIf="examUserLink.exam.ongoing"
                 [routerLink]="['..', 'view']"
                 [queryParams]="{ examId: examUserLink.exam.id }">
                正在进行
              </a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="历史成绩"></nz-tab>
    </nz-tabset>
  </ng-template>
</page-header>
