<page-header title="实验步骤编辑" [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'teacher', 'expr']">实验</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'teacher', 'expr', 'view']" [queryParams]="{ exprId: step?.expr?.id }">
          {{ step?.expr?.title }}
        </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="step?.title"> #{{ step.idx + 1 }}: {{ step.title }} </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button nz-button nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid">提交</button>
    <button nz-button (click)="sf.reset()">重置</button>
  </ng-template>
</page-header>
<sf #sf mode="edit" [schema]="schema" [formData]="step" button="none"></sf>
