<nz-card>
  <div style="margin-bottom: 1em;">
    <button nz-button nzType="primary" (click)="addExaminees()">添加学生</button>
    <button nz-button [nzType]="'primary'" nz-popconfirm nzPopconfirmTitle="确定清空所有学生么?" (nzOnConfirm)="removeAllExaminees()">
      <span>清空学生</span>
    </button>
  </div>
  <nz-table #statsTable [nzLoading]="loading" [nzData]="examinees" [nzFrontPagination]="true" nzSize="small" [nzBordered]="true">
    <thead>
      <tr>
        <th rowSpan="2" nzWidth="200px">学号/用户名</th>
        <th rowSpan="2" nzWidth="150px">全名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let examinee of statsTable.data">
        <td>{{ examinee.username }}</td>
        <td>{{ examinee.fullName }}</td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
