<nz-card>
  <div style="margin-bottom: 1em;">
    <button nz-button nzType="primary">导出</button>
    <button nz-button [nzType]="'primary'">刷新</button>
  </div>

  <sv-container *ngIf="!loading" [col]="5" [gutter]='16' style="margin-bottom: 1em;">
    <sv label="状态" type="success">{{_exam.state}}</sv>
    <sv label="满分">{{_exam.fullScore}}</sv>
    <sv label="总人数" >{{scoreStats.length}}</sv>
    <sv label="满分人数">{{fullmarkCount}}</sv>
    <sv label="不及格人数" >{{failCount}}</sv>
  </sv-container>

  <nz-table #scoresTable
            *ngIf="_exam"
            [nzLoading]="loading"
            [nzData]="scoreStats"
            [nzFrontPagination]="true"
            [nzPageSize]="40"
            nzSize="small"
            [nzBordered]="true">
    <thead>
    <tr>
      <th nzWidth="50px">排名</th>
      <th nzWidth="200px">学号/用户名</th>
      <th nzWidth="200px">全名</th>
      <th nzWidth="100px">总分</th>
      <!--      <th *ngFor="let expr of _exam.exprs;let i = index" nzWidth="60px">实验{{i + 1}}</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let scoreState of scoresTable.data">
      <td>{{ scoreState.rank }}</td>
      <td>{{ scoreState.username }}</td>
      <td>{{ scoreState.fullName }}</td>
      <td>{{ scoreState.score }}</td>
      <!--      <td *ngFor="let es of scoreState.exprScores">{{es}}</td>-->
    </tr>
    </tbody>
  </nz-table>
</nz-card>
