<nz-card>
  <div style="margin-bottom: 1em;">
    <button nz-button nzType="primary" (click)="addUsers()">添加学生</button>
    <button nz-button [nzType]="'primary'" nz-popconfirm nzPopconfirmTitle="确定清空所有学生么?" (nzOnConfirm)="removeAllUsers()">
      <span>清空学生</span>
    </button>
  </div>
  <nz-table #userLinksTable *ngIf="!loading"
            [nzLoading]="loading"
            [nzData]="examUserLinks"
            [nzFrontPagination]="true"
            nzSize="small"
            [nzBordered]="true">
    <thead>
    <tr>
      <th nzWidth="60px">座位</th>
      <th nzWidth="150px">学号/用户名</th>
      <th nzWidth="150px">全名</th>
      <ng-container *ngFor="let expr of _exam.exprs;let i = index">
        <th *ngFor="let hostId of expr.hostIds" style="width: 110px">
          实验{{i + 1}}: Host{{hostId}}
        </th>
      </ng-container>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let examUserLink of userLinksTable.data">
      <td>{{examUserLink.seat}}</td>
      <td>{{ examUserLink.user.username }}</td>
      <td>{{ examUserLink.user.fullName }}</td>
      <ng-container *ngFor="let expr of _exam.exprs">
        <td *ngFor="let hostId of expr.hostIds">
          <a target="_blank" href="https://virt.bixlab.cn/#v1:0:=qemu%2F8100111::::::8::">PVE</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>重置</a>
        </td>
      </ng-container>
      <td>
        <a>禁止考试</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>重置主机</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
