<page-header title="测试: {{ exam.title }}" [tab]="tabset" [loading]="loading">
  <ng-template #tabset>
    <nz-tabset style="padding-bottom: 10px;" nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'exprs' }" queryParamsHandling="merge">实验</a>
        <ng-template nz-tab>
          <app-teacher-exam-view-exprs-tab [exam]="exam"></app-teacher-exam-view-exprs-tab>
        </ng-template>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'users' }" queryParamsHandling="merge">考生</a>
        <ng-template nz-tab>
          <app-teacher-exam-view-users-tab [exam]="exam"></app-teacher-exam-view-users-tab>
        </ng-template>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'score' }" queryParamsHandling="merge">成绩</a>
        <ng-template nz-tab>
          <app-teacher-exam-view-score-tab [exam]="exam"></app-teacher-exam-view-score-tab>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </ng-template>
</page-header>
