<page-header title="测试: {{ exam.title }}" [tab]="tabset" [loading]="loading">
  <ng-template #tabset>
    <nz-tabset style="padding-bottom: 10px;" nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'expr' }" queryParamsHandling="merge">实验</a>
        <app-teacher-exam-view-expr-tab [exam]="exam"></app-teacher-exam-view-expr-tab>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'examinee' }" queryParamsHandling="merge">考生</a>
        <app-teacher-exam-view-examinee-tab [exam]="exam"></app-teacher-exam-view-examinee-tab>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'score' }" queryParamsHandling="merge">成绩</a>
        <app-teacher-exam-view-score-tab [exam]="exam"></app-teacher-exam-view-score-tab>
      </nz-tab>
    </nz-tabset>
  </ng-template>
</page-header>
