<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link" style="color: white;font-weight: bold;font-size: 1.5em;">
    OSVLab
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Lock Page -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" [routerLink]="['/lock']">
        <i nz-icon nzType="lock"></i>
      </div>
    </li>
  </ul>
  <ul class="alain-default__nav">
    <li>
      <div
          class="alain-default__nav-item d-flex align-items-center px-sm"
          nz-dropdown
          nzPlacement="bottomRight"
          [nzDropdownMenu]="roleMenu"
      >
        当前角色: {{ role }}
      </div>
      <nz-dropdown-menu #roleMenu="nzDropdownMenu">
        <div nz-menu class="width-sm">
          <div *aclIf="['student', 'teacher', 'admin']" nz-menu-item [routerLink]="['student']">
            <i nz-icon nzIconfont="student"></i>
            学生
          </div>
          <div *aclIf="'teacher'" nz-menu-item [routerLink]="['teacher']">
            <i nz-icon nzIconfont="teacher"></i>
            教师
          </div>
          <div *aclIf="'admin'" nz-menu-item [routerLink]="['admin']">
            <i nz-icon nzIconfont="admin"></i>
            管理员
          </div>
        </div>
      </nz-dropdown-menu>
    </li>
    <!-- Settings -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
        <i nz-icon nzType="setting"></i>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu style="width: 200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
        </div>
      </nz-dropdown-menu>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>
